.Herosectiontext {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}

.dotted-blue {
    width: 330px;
    height: 313.077px;
  flex-shrink: 0;
  color: #1e8875;
  background-image: url("/dottedblue.svg");
  position: absolute;
  right: 450px;
  top: 480px;
  z-index: 1;
}
.dotted-grey {
  /* border:1px solid magenta; */
  width: 330px;
  height: 313.077px;
  flex-shrink: 0;
  color: #100a42;
  background-image: url("/dottedgrey.svg");
  position: absolute;
  right: 22px;
  top: 200px;
  z-index:1;

}
